// nav start
    .navbar{
        height: 80px;
        background-color: $white;
        @include sm{
            height: 87px;
        }
        & .navLogo{
            height: 20px;
            @include sm{
                height: 25px;
            }
            
        }
        & .navbar-toggler{
            & .menuIcon{
                width: 20px;
                height:20px;
                @include sm{
                    width: 30px;
                    height:30px;
                }
            }
        }
        & .navbar-nav{
            @include xxl{
                margin-left: 140px;
            }
            & .navItem{
                position: relative;
                transition: all 0.3s ease-in-out;
                &:hover{
                    & .mainLink{
                        & .arrowIcon{
                            & img{
                                transform: rotateZ(180deg);
                            }
                        }
                        & .navLink{
                            &:after{
                                width:100%;
                            }
                        }
                    }
                    & .sub-menu{
                        visibility: visible;
                        opacity: 1;
                    }
                }
                & .mainLink{
                    padding: 32px 0px;
                    transition: all 0.3s ease-in-out;
                    & .navLink{
                        font-size: 17px;
                        color: $black;
                        text-transform: capitalize;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        position: relative;
                        transition: all 0.3s ease-in-out;
                        &.active{
                            &::after{
                                content: '';
                                position: absolute;
                                height: 2px;
                                width: 100%;
                                background-color:$black;
                                left: 0;
                                bottom:-8px ;
                                transition: all .3s ease;
                            }
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 0;
                            background-color:$black;
                            left: 0;
                            bottom:-8px ;
                            transition: all .3s ease;
                        }
                    }
                    & .arrowIcon{
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                        & img{
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
                & .sub-menu{
                    background-color: $black;
                    position: absolute;
                    left: 0;
                    min-width: 270px;
                    opacity: 0;
                    visibility: hidden;
                    transform-origin: top center;
                    transition: all .3s ease;
                    z-index: 99;
                    box-shadow: 0 10px 60px rgba(0,0,0,7%);
                    padding: 15px 0;
                    & .subMenuLink{
                        text-decoration: none;
                        padding: 0.65em 1.7em;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            padding-left: 40px !important;
                            & .innerSubMenu{
                                &::after{
                                    opacity: 1;
                                    visibility: visible;
                                    width:100%;
                                }
                            }
                        }
                        & .innerSubMenu{
                            line-height: 23px;
                            position: relative;
                            font-size: 15px;
                            text-transform: capitalize;
                            font-weight: 600;
                            color: $white;
                            transition: all 0.3s ease-in-out;
                            &:after{
                                position: absolute;
                                content: '';
                                left: 0;
                                bottom: -3px;
                                height: 1px;
                                width: 0;
                                background-color: $white;
                                opacity: 0;
                                visibility: hidden;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
// nav Ends



// mobile offcanvas 

    .mobileOffcanvas{
        width: 300px !important;
        & .logomobile{
            height: 28px;
        }
        & .closeBtn{
            width: 25px;
            height: 25px;
            @include md{
                width: 35px;
                height: 35px;
            }
        }
        & .inputGroup{
            & .inputSearch{
                border-radius: 100px;
                background-color: #f1f2f6;
                border-bottom: 2px solid #ececec;
                padding: 0 15px;
                height: 40px;
                font-size: 18px;
                color: $black;
                font-weight: 600;
                height: 40px;
                &::placeholder{
                    font-size: 17px;
                    color: $black;
                    font-weight: 600;

                }
            }
            & .searchIcon{
                background-color: #f1f2f6;
                border-radius: 100px;
                border: none;
                box-shadow: none;
                width: 40px;
                height: 40px;
                padding: 8px !important;
            }
        }
        & .mobileUl{
            & .mobileLink{
                color:$black;
                font-size: 14px;
                font-weight: 700;
                border-bottom: 1px solid rgba(0,0,0,6%);
                padding: 10px 5px 10px 10px;
                text-decoration: none;
                &.active{
                color: $theme1;
                }
            }
        }
        & .mobileAccordion{
            & .itemAccordion{
                border: none;
                box-shadow: none;
                & .accordionBtn{
                    border: none;
                    box-shadow: none;
                    color:$black;
                    font-size: 14px;
                    font-weight: 700;
                    border-bottom: 1px solid rgba(0,0,0,6%);
                    padding: 7px 5px 7px 10px;
                    &.active{
                    color: #ff7268;
                    }
                    &::after{
                        border-radius: 3px;
                        background-color: rgba(0,0,0,3%);
                        height: 28px;
                        width: 28px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-position: center;
                        background-size: 10px;
                    }
                }
                & .accordionBtn:not(.collapsed){
                    background-color: transparent;
                    border-radius: 0px;
                }

                & .mobileMenu{
                    background-color: transparent;
                    & .subMenuLink{
                        font-size: 13px;
                        display: block;
                        color: $black;
                        font-size: 14px;
                        font-weight: 600;
                        border-bottom: 1px solid rgba(0,0,0,6%);
                        text-decoration: none;
                        padding: 10px 10px;
                        @include sm{
                        padding: 13px 12px;
                        font-size: 14px;

                        }
                        // &.active{
                        //     color: #ff7268;
                        // }
                    }
                }
            }
        }
    }

// navbar end 

