// For Normal Text

.body_text{
    font-size: 16px;
    color: $black;
    line-height: 1.8;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

.body_text_small{
    font-size: 14px;
    color: $black;
    opacity: 0.5;
    line-height: 130%;
    font-weight: 500;
    @include sm{
    }
    @include md{
        
    }
    @include lg{
        font-size: 14px;
    }
    @include xl{
        font-size: 15px;
    }@include xxl{
        
    }
}

.body_text_large{
    font-size: 16px;
    color: $black;
    line-height: 130%;
    @include sm{

    }
    @include md{
        font-size: 16px;
    }
    @include lg{
        font-size: 18px;
    }
    @include xl{
        
    }@include xxl{
        
    }
}

// For Space Between Sections Must Apply On Container Fluid

.section_spacing{
    padding-block: 1.5rem;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        padding-block: 2.5rem;
    }
    @include xl{
        
    }@include xxl{
        
    }
}

// For Dark Theme and Light Theme

.bg_drak{
    background-color: $black;
}

.bg_light{
    background-color: #F8F9FA;
}

// For Heading

.body_heading{
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    color: $black;
    @include sm{
        font-size: 30px;
    }
    @include md{
        font-size: 35px;
    }
    @include lg{
        font-size: 35px;
    }
    @include xl{
        font-size: 40px;
    }@include xxl{
        font-size: 50px;
    }
}

.body_heading_small{
    font-size: 18px;
    font-weight: 600;
    color: $theme1;
    padding-left: 0%;
    &::before{
        content: '';
    }
    
    @include sm{
        font-size: 20px;
    }
    @include md{
        
    }
    @include lg{
        display: block;
        padding-left: 8%;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 7%;
            margin-left: -8%;
            height: 3px;
            background-color: $theme1;
        }
    }
    @include xl{
        
    }
    @include xxl{
        
    }
}

.body_heading_large{
    font-size: 33px;
    color: $black;
    font-weight: 700;
    line-height: 100%;
    @include sm{
        font-size: 45px;
    }
    @include md{
        font-size: 57px;
    }
    @include lg{
        font-size: 75px;
    }
    @include xl{
        font-size: 81px;
    }
}

// For Subheading

.body_subheading{
    font-size: 14px;
    font-weight: 700;
    color: $gray-600;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

.body_subheading_small{
    font-size: 12px;
    font-weight: 700;
    color: $gray-600;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}

.body_subheading_large{
    font-size: 15px;
    font-weight: 700;
    color: $gray-600;
    @include sm{

    }
    @include md{
        
    }
    @include lg{
        
    }
    @include xl{
        
    }@include xxl{
        
    }
}