
@mixin xs {
    @media only screen and (min-width: 576px) {
        @content;
    }
}
@mixin sm {
    @media only screen and (min-width: 576px) {
        @content;
    }
}
@mixin md {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
@mixin lg {
    @media only screen and (min-width: 992px) {
        @content;
    }
}
@mixin xl {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}
@mixin xxl {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

@mixin generate-classes($n) {
    @for $i from 1 through $n {
        .text_ellipsis_#{$i} {
            display: -webkit-box;
            -webkit-line-clamp: $i;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
@include generate-classes(5);



@import "./variable.scss";
@import "./typography.scss";
@import "./nav.scss";
@import "./button.scss";
@import "./hero.scss";
@import "./brand.scss";
@import "./about.scss";
@import "./card.scss";
@import "./video.scss";
@import "./testimonials.scss";
@import "./subscribe.scss";
@import "./footer.scss";

